 h1{
        background-color:pink;
        padding:50px;
        margin:150px;
        border:5px;
        border-color:rgb(0, 247, 255);
        border-width:35px;
        border-style:dotted;
      }
      h3{
        color:rgb(155,155,155);
        border-color:olive;
        border-style: ridge;
        border-width: 30px;
        border-radius:100%;
      }
      h4{
        color:purple;
      }
      body{
        background:lightcoral;
      